.logo {
    width: 70px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f0f0f0;
}

.languageButton {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #0070AC;
    border: 1px solid #0070AC;
    border-radius: 4px;
    cursor: pointer;
}

.languageButton:hover {
    background-color: #f0f0f0;
    color: #005f8c;
    border-color: #005f8c;
}
