.logo {
    width: 70px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f0f0f0;
}

.languageButton {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #0070AC;
    border: 1px solid #0070AC;
    border-radius: 4px;
    cursor: pointer;
}

.languageButton:hover {
    background-color: #f0f0f0;
    color: #005f8c;
    border-color: #005f8c;
}

.navItem {
    position: relative;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: var(--foreground);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding-right: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    opacity: 0;
    transform: scaleY(0) scaleX(0.8);
    transform-origin: top;
    animation: dropdownAnimation 0.3s ease forwards;
}

.navItem:hover .dropdownMenu {
    display: block;
}

.dropdownMenu li {
    padding: 0.5rem 1rem;
}

.dropdownMenu li a {
    color: var(--font-color);
    text-decoration: none;
    display: block;
}

.dropdownMenu li a:hover {
    background-color: var(--foreground);
    color: var(--main-color-secondary);
}


@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: scaleY(0) scaleX(0.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }
}